.example-icon {

padding: 0 14px;

cursor: pointer;

}



.example-spacer {

flex: 1 1 auto;

}




.example-container {

position: absolute;

top: 0;

bottom: 0;

left: 0;

right: 0;

}



.sidenav-content {

position: relative;

display: inline-block;

height: 100%;

width: 100%;

}



.footer {

position: absolute;

bottom: 0;

width: 100%;

}



.link:hover {

text-decoration: none;

color: white;

}

